.mainpart{
    width: 100%;
    min-height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: #fdfdfd;
    gap: 1rem;
    padding: 20px 20px 50px;
}
.maininfo{
    flex: 1 1 13rem;
    position: absolute;
    top: 17%;
}

.mainimg{
    width: 100%;
    position: relative;
}

.maininfo h2{
    font-size: 2.3rem;
    color: gray;
}

.maininfo h1{
    font-size: 3.2rem;
    font-weight: 700;
}
.maininfo p{
    font-size: 1.5rem;
    margin: 0.5rem 0 1.4rem;
    color: white;
    padding: 0 0 10px;
}

.spanwhite{
    color: white;
}

.maininfo a{
    text-decoration: none;
    color: black;
}

.btn{
    padding: 10px 50px;
    background: white;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 12px;
    font-weight: 700;
    transition: 0.3s;
}

.btn:hover{
    color: rgb(255, 145, 0);
    background: white;
}

.shop{
    padding: 30px 0 30px;
}

.heading{
    text-align: center;
    padding: 30px;
    font-family: Popping, sans-serif;
}

.heading h1{
    font-size: 2.5rem;
    font-weight: 700;
}

.shopcontainer{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    justify-content: space-between;
}

.shopcontainer .box{
    display: flex;
    padding: 20px;
    display: inline-block;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.shopcontainer .box img{
    width: 720px;
    height: 418px;
}

.shopcontainer .box h1{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 5px;
}

.shopcontainer .box a{
    text-decoration: none;
    color: black;
}

.shop .heading{
    text-align: center;
    padding: 40px 0 40px;
}

.shop .categories{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.shop .categories img{
    width: 500px;
    height: 400px;
}

.shop .categories2{
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    padding-bottom: 35px;
}

.new-items{
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    padding-bottom: 10%;
}

