.sech1 {
    max-width: 1720px;
    margin: 0 auto;
    padding: 0 30px;

}

.mainpart {
    width: 100%;
    max-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: #fdfdfd;
    gap: 1rem;

}

.maininfo {
    position: absolute;
    top: 12rem;
}

.mainimg {
    width: 100%;
    height: 520px;
    object-fit: contain;
    object-position: center;
}

.maininfo h2 {
    font-size: 2.3rem;
    color: gray;
}

.maininfo h1 {
    font-size: 3.2rem;
    font-weight: 700;
}

.maininfo p {
    font-size: 1.5rem;
    margin: 0 0 0.3rem;
    color: white;
    padding: 0 0 5px;
}

.spanwhite {
    color: white;
}

.maininfo a {
    text-decoration: none;
    color: black;
}

.btn {
    padding: 10px 30px;
    background: white;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 12px;
    font-weight: 700;
    transition: 0.3s;
}

.btn:hover {
    color: rgb(255, 145, 0);
    background: white;
}

.shop {
    padding: 30px 0 30px;
}

.heading {
    text-align: center;
    padding: 30px;
    font-family: Popping, sans-serif;
}

.heading h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

.shopcontainer {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    gap: 1%;
}

.shopcontainer .box {
    display: flex;
    padding: 10px;
    display: inline-block;
    text-align: center;
    align-items: center;
}

.shopcontainer .box img {
    width: 100%;

}

.shopcontainer .box h1 {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 5px;
}

.shopcontainer .box a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.shop .heading {
    text-align: center;
    padding: 15px 0 15px;
}

.shop .categories {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    gap: 1%;
}

.shop .categories2 {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    gap: 1%;
    padding-bottom: 35px;
}


.shop .categories img {
    width: 100%;
    position: relative;
}

.shop .categories2 img{
    width: 100%;
    position: relative;
}    

.new-items {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    padding-bottom: 10%;
    gap: 1%;
}

.new-items img {
    width: 100%;
    position: relative;
}

.new-items p {
    font-size: 16px;
}

@media all and (max-width: 1720px) {


    .maininfo p {
        font-size: 1.5rem;
    }

    .maininfo h1 {
        font-size: 2.7rem;
        color: white;
    }

    .heading {
        padding: 15px 0 15px;
    }

    .heading h1 {
        font-size: 2rem;
        padding: 0;
    }
}

@media all and (max-width: 1350px) {
    .maininfo h1 {
        font-size: 2.2rem;
    }

    .maininfo p {
        font-size: 1.1rem;
    }

    .new-items p {
        font-size: 14px;
    }

    .heading h1 {
        font-size: 1.6rem;
    }
}

@media all and (max-width: 1280px) {
    .main{
        background: #eeeeee;
    }

    .mainimg img{
        display: none;
        height: 200px;
    }
    
    .maininfo h1 {
        font-size: 48px;
        color: black;
        padding-bottom: 10px;
    }
    .spanwhite{
        color: red;
    }

    .maininfo p {
        font-size: 24px;
        color:black;
        padding-bottom: 30px;
        letter-spacing: 3px;
    }

    .new-items p {
        font-size: 20px;
    }

    .btn {
        font-size: 30px;
    }

    .heading h1 {
        font-size: 1.5rem;
    }
    .shopcontainer{
        align-items: center;
    }
    .sech1{
        background: #eeeeee;
    }

}

@media all and (max-width: 1024px) {
    .categories{
        padding: 0;
    }
    .categories2{
        padding: 0;
    }
    .maininfo{
        padding: 0 50px;
    }
    .maininfo h1 {
        font-size: 48px;
        color: black;
        padding-bottom: 10px;
    }
    .spanwhite{
        color: red;
    }

    .maininfo p {
        font-size: 24px;
        color:black;
        padding-bottom: 80px;
        letter-spacing: 3px;
    }

    .new-items p {
        font-size: 20px;
    }

    .btn {
        font-size: 30px;
        padding: 30px 100px;
    }

    .heading h1 {
        font-size: 46px;
        font-weight: 700;
    }
    .shopcontainer .box h1{
        font-size: 30px;
    }
    .shopcontainer .box a{
        font-size: 20px;
    }

    .box img{
        width: 100%;
        position: relative;
    }
    .shopcontainer{
        flex-direction: column;
    }
    .categories{
        flex-direction: column;
    }
    .categories a{
        padding-bottom: 20px;
    }
    .categories2{
        flex-direction: column;
    }
    .categories2 a{
        padding-bottom: 20px;
    }
    .new-items{
        flex-direction: column;
    }
    
    .item p{
        font-size: 40px;
    }
}   

@media all and (max-width: 768px) {
    .maininfo h1 {
        font-size: 42px;
        color: black;
        padding-bottom: 10px;
    }
    .spanwhite{
        color: red;
    }

    .maininfo p {
        font-size: 24px;
        color:black;
        padding-bottom: 30px;
        letter-spacing: 3px;
    }

    .new-items p {
        font-size: 20px;
    }

    .btn {
        font-size: 30px;
        padding: 15px 70px;
    }
    .shopcontainer .box h1{
        font-size: 12px;
    }
}

@media all and (max-width: 480px) {
    .main {
        max-width: 100%;
    }

    .maininfo {
        top: 9.5rem;
    }

    .maininfo h1 {
        font-size: 1.4rem;
    }

    .maininfo p {
        font-size: 0.5rem;
    }
    .item{
        padding: 30px 0;
    }
    .new-items p {
        font-size: 20px;
    }
    .shopcontainer .box h1{
        font-size: 28px;
    }
    .shopcontainer .box a{
        font-size: 20px;
    }
}

@media all and (max-width: 480px) {
    .maininfo h1 {
        font-size: 42px;
        color: black;
        padding-bottom: 10px;
    }
    .spanwhite{
        color: red;
    }

    .maininfo p {
        font-size: 24px;
        color:black;
        padding-bottom: 30px;
        letter-spacing: 3px;
    }

    .new-items p {
        font-size: 20px;
    }
}
    
