.header {
    padding: 30px 0 30px;
    font-family: 'Poppins', sans-serif;
}


.header__row {
    display: flex;
    column-gap: 30px;
    align-items: center;
    justify-content: space-between;
}

.header_logo {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.navigation {
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0;
}

.nav_menu {
    display: flex;
    column-gap: 100px;
    align-items: center;
}

#menu-icon {
    font-size: 24px;
    cursor: pointer;
    z-index: 1001;
    display: none;
}

.nav_menu a {
    color: black;
    transition: 0.2s;
}

.nav_menu a:hover {
    color: orange;
}

a.header__btn {
    background-color: black;
    border-radius: 10px;
    padding: 10px 20px;
    color: white;
}

#menu-icon {
    font-size: 24px;
    cursor: pointer;
    z-index: 1001;
    display: none;
}

@media (max-width: 1024px) {
    #menu-icon {
        display: initial;
    }

    .nav_menu {
        position: fixed;
        top: 100px;
        right: 0;
        width: 50%;
        height: 100%;
        background: rgb(255, 255, 255);
        flex-direction: column;
        transform: translateX(100%);
        transition: 0.2s ease-in;
        z-index: 1001;
    }

    .nav_menu li {
        padding: 10px 0;
    }

    .nav_active {
        transform: translateX(0);
    }
}

@media all and (max-width: 768px){
    .header_logo img{
        width: 70%;
    }
}

@media all and (max-width: 480px){
    .header_logo img{
        height: 50%;
    }
}